.pizza__price {
  width: 250px;
  background-color: #e7e7e7;
  padding: 20px;
}
.size__price {
  span {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }
}
.on__pizza {
  span {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }
}
.add__price {
  span {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }
}
